{% extends "base.html" %}
{% load static %}
{% load artwork_extras %}

{% block title %}Artworks | ArtVault{% endblock %}

{% block extra_css %}
    <!-- Load CSS for artwork filters -->
    <link rel="stylesheet" href="{% static 'css/artwork_filters.css' %}">
{% endblock %}

{% block content %}

<section class="artworks-page">

    <div class="breadcrumbs">
        <a href="{% url 'home' %}">Homepage</a>
        <span>></span>
        <span class="current-page">Artworks</span>
    </div>

    {% include "artwork/_artwork_filters.html" %}

     <!-- Artworks Section -->
    <section class="artwork-grid">

        {% for art in artworks %}
            <article class="artwork-card">

                <a href="{% url 'artwork-detail' art.id %}">
                    {% with image=art.images.all.0 %}
                        {% if image %}
                            <img src="{{ image.image_url }}" alt="{{ image.alt_text }}">
                        {% else %}
                            <img src="{% static 'images/placeholder-artwork.png' %}" alt="{{ art.title }}">
                        {% endif %}
                    {% endwith %}
                </a>

                {% if art.is_sold %}
                    <p class="status-badge sold">Sold</p>
                {% else %}
                    <p class="status-badge available">Available</p>
                {% endif %}

                <div class="artwork-title">
                    <a href="{% url 'artwork-detail' art.id %}">
                        <h2>{{ art.title }}</h2>
                    </a>
                </div>

                <div class="artwork-meta">
                    <p>{{ art.medium }} • {{ art.dimensions }}</p>
                </div>

                <div class="artwork-price-info">

                    <p class="starting-price">
                        <span>Starting price:</span>
                        <strong>{{ art.starting_price|isk }} ISK</strong>
                    </p>

                    {% if art.annotated_highest_bid_amount %}
                        <p class="current-price current-highest-bid">

                            {% if art.is_sold %}
                                <span>Final bid:</span>
                            {% else %}
                                <span>Current highest bid:</span>
                            {% endif %}

                            <strong>{{ art.annotated_highest_bid_amount|isk }} ISK</strong>
                        </p>
                    {% endif %}
                </div>

            </article>
        {% endfor %}

    </section>

</section>

    <!-- Load JavaScript for artwork filters -->
    <script src="{% static 'js/artwork_filters.js' %}"></script>
{% endblock %}