{% extends "base.html" %}
{% load static %}

{% block title %}Artworks | ArtVault{% endblock %}

{% block content %}

<section class="artworks-page">

    <section class="artwork-grid">

    {% for art in artworks %}
    <article class="artwork-card">

        <img src="{% static art.image %}" alt="{{ art.title }}">

        <h2>{{ art.title }}</h2>

        <p>{{ art.medium }}</p>
        <p>{{ art.dimensions }}</p>
        <p>{{ art.price }} kr.</p>

        {% if art.sold %}
            <p>Sold</p>
        {% else %}
            <p>Available</p>
        {% endif %}

    </article>
{% endfor %}

    </section>

</section>
{% endblock %}
