{% extends "base.html" %}
{% load static %}
{% load artwork_extras %}

{% block title %}{{ artwork.title }} | ArtVault{% endblock %}

{% block content %}

<section class="artwork-detail-page">

    <div class="breadcrumbs">
        <a href="{% url 'home' %}">Homepage</a>
        <span>></span>
        <a href="{% url 'artwork-index' %}">Artworks</a>
        <span>></span>
        <span class="current-page">{{ artwork.title }}</span>
    </div>

<section class="artwork-detail-layout">
    {% if is_sold %}
        <p class="status-badge sold">Sold</p>
    {% endif %}

    <div class="artwork-detail-image">

        {% if images %}

            {% if images|length > 1 %}
                <button
                    type="button"
                    class="image-arrow image-arrow-left"
                    onclick="previousImage()"
                >
                    <span class="material-symbols-outlined">
                        chevron_left
                    </span>
                </button>
            {% endif %}

            <img
                id="main-artwork-image"
                src="{{ main_image.image_url }}"
                alt="{{ main_image.alt_text }}"
            >

            {% if images|length > 1 %}
                <button
                    type="button"
                    class="image-arrow image-arrow-right"
                    onclick="nextImage()"
                >
                    <span class="material-symbols-outlined">
                        chevron_right
                    </span>
                </button>
            {% endif %}

        {% endif %}

    </div>

    <div class="artwork-detail-info">

        {% if not is_sold %}
            <p class="status-badge available">Available</p>
        {% endif %}

        <h1>{{ artwork.title }}</h1>
        <div class="artwork-main-details">

            <p class="artwork-meta">
                <span class="artist-name">{{ artwork.artist_name }}</span>
                <span>•</span>
                <span class="artwork-medium">{{ artwork.medium }}</span>
                <span>•</span>
                <span class="artwork-style">{{ artwork.style }}</span>
            </p>

            <div class="bid-info">
                {% if is_sold %}
                    <p>Final bid:</p>
                {% else %}
                    <p>Current highest bid:</p>
                {% endif %}

                {% if artwork.highest_bid_amount %}
                    <strong>{{ artwork.highest_bid_amount|isk }} ISK</strong>
                {% else %}
                    <strong>No bids yet</strong>
                {% endif %}
            </div>

            <div class="date-detail">
                <div>
                    <p>Starting price:</p>
                    <strong>{{ artwork.starting_price|isk }} ISK</strong>
                </div>

                <div>
                    <p>Listed:</p>
                    <strong>{{ artwork.listed_at|date:"F Y" }}</strong>
                </div>
            </div>
        </div>

        {% if not is_sold %}

            {% if user.is_authenticated %}

                <button
                    type="button"
                    id="open-bid-modal"
                    class="site-btn btn-main submit-bid-btn"
                >
                    {% if existing_resubmittable_bid %}
                        Resubmit bid
                    {% else %}
                        Submit a bid
                    {% endif %}

                </button>

                {% if existing_resubmittable_bid %}
                    <div class="user-bid-summary">
                        <p>
                            <span>Your bid:</span>
                            <span class="user-bid-amount">
                            {{ existing_resubmittable_bid.amount|isk }} ISK
                            </span>
                        </p>

                        <p>
                            <span>Status:</span>
                            <span class="bid-status-badge {{ existing_resubmittable_bid.status }}">
                                {{ existing_resubmittable_bid.get_status_display }}
                            </span>
                        </p>
                    </div>
                {% endif %}

            {% else %}
                <p class="bid-login-message">

                    Please

                    <a href="{% url 'login' %}">
                        log in
                    </a>

                    or

                    <a href="{% url 'register' %}">
                        sign up
                    </a>

                    to place a bid

                </p>

            {% endif %}

        {% endif %}

    </div>

</section>

<section class="artwork-extra-info">

    <div class="artwork-left-info">

        <div class="about-work">
            <h2>About the work</h2>

            <p>
                <strong>Size</strong>
                <span>{{ artwork.dimensions }}</span>
            </p>

            <p>
                <strong>Year</strong>
                <span>{{ artwork.year }}</span>
            </p>

            <p>
                <strong>Edition</strong>
                <span>{{ artwork.edition }}</span>
            </p>

        </div>

        <div class="provenance">
            <h2>Provenance</h2>
            <p>{{ artwork.provenance }}</p>
        </div>

    </div>

    <div class="seller-card">

        <div class="seller-logo">
            <img
            src="{{ artwork.seller.logo_url }}"
            alt="{{ artwork.seller.display_name }}"
    >
        </div>

        <div>
            <h2>{{ artwork.seller }}</h2>

            <p>{{ artwork.seller.short_description }}</p>

            {% if artwork.seller.seller_type == "artist" %}
                <a href="{% url 'artist-detail' seller_id=artwork.seller.id %}">
                    Visit artist →
                </a>
            {% else %}
                <a href="{% url 'gallery-detail' seller_id=artwork.seller.id %}">
                    Visit gallery →
                </a>
            {% endif %}
        </div>

    </div>

</section>

</section>

{% include "bid/submit_bid_modal.html" %}

<!-- Store artwork image data as JSON for JavaScript carousel functionality -->
{{ images_data|json_script:"artwork-images" }}

<!-- Load JavaScript file handling artwork image navigation -->
<script src="{% static 'js/artwork_detail.js' %}?v=3"></script>

<!-- Load JavaScript file handling submit bid button modal -->
<script src="{% static 'js/submit_bid_modal.js' %}?v=24"></script>

{% endblock %}