{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/seller.css' %}">
{% endblock %}

{% block title %}Galleries | ArtVault{% endblock %}

{% block content %}

<section class="artworks-page">

    <nav class="breadcrumbs">
        <a href="{% url 'home' %}">Homepage</a>
        <span>></span>
        <span class="current-page">Galleries</span>
    </nav>

    <h1>Galleries</h1>

    <section class="artwork-grid">

        {% for gallery in galleries %}

            <article class="artwork-card">

                <a href="{% url 'gallery-detail' gallery.id %}">
                    <img src="{{ gallery.logo_url }}" alt="{{ gallery.display_name }}">
                </a>

                <div class="artwork-card-content">

                    <a href="{% url 'gallery-detail' gallery.id %}">
                        <h2>{{ gallery.display_name }}</h2>
                    </a>

                    <p>{{ gallery.city }}</p>

                </div>

            </article>

        {% empty %}

            <p>No galleries found.</p>

        {% endfor %}

    </section>

</section>

{% endblock %}