{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/seller.css' %}">
{% endblock %}

{% block title %}Galleries | ArtVault{% endblock %}

{% block content %}

<section class="artworks-page">

    <nav class="breadcrumbs">
        <a href="{% url 'home' %}">Homepage</a>
        <span>/</span>
        <span class="current-page">Galleries</span>
    </nav>

    <h1>Galleries</h1>

    <section class="artwork-grid">

        {% for seller in sellers %}

            <article class="artwork-card">

                <a href="{% url 'gallery-detail' seller.id %}">
                    <img src="{% static seller.logo_url %}" alt="{{ seller.display_name }}">
                </a>

                <div class="artwork-card-content">

                    <a href="{% url 'gallery-detail' seller.id %}">
                        <h2>{{ seller.display_name }}</h2>
                    </a>

                    

                </div>

            </article>

        {% endfor %}

    </section>

</section>

{% endblock %}