<!-- Website header -->
<header class="site-header">
    <!-- Main navigation links -->
    <nav class="main-navigation">
        <a href="{% url 'artwork-index' %}">Artworks</a>
        <a href="{% url 'artist-index' %}">Artists</a>
        <a href="{% url 'gallery-index' %}">Galleries</a>
    </nav>
    <!-- Website logo which links to homepage -->
    <a href="{% url 'home' %}" class="site-logo">ArtVault</a>
    <!-- Header actions -->
    <div class="header-actions">
        <!-- Search bar -->
        <form>
            <div class="search">
                <input class="search-input" type="search" placeholder="Search">
                <span class="search-icon material-symbols-outlined">search</span>
            </div>
        </form>

        <!-- Shows user menu if user is signed in -->
        {% if user.is_authenticated %}

            <div class="user-dropdown">

                <a href="{% url 'account-profile' %}" class="user-trigger">

                    {% if user.profile.profile_image %}
                        <img
                            class="user-icon"
                            src="{{ user.profile.profile_image.url }}"
                            alt="Profile image for {{ user.first_name }}"
                        >
                    {% else %}
                        <span class="material-symbols-outlined user-icon">
                            account_circle
                        </span>
                    {% endif %}

                    <span class="username">
                        {% if user.first_name %}
                            {{ user.first_name }}
                        {% else %}
                            {{ user.username }}
                        {% endif %}
                    </span>

                    <span class="material-symbols-outlined dropdown-arrow-toggle">
                        keyboard_arrow_down
                    </span>
                </a>


                <div class="user-dropdown-menu">

                    <a href="{% url 'account-profile' %}">Profile</a>
                    <a href="{% url 'account-bids' %}">Bids</a>
                    <a href="{% url 'account-contact' %}">Contact information</a>

                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="dropdown-logout-btn">
                            Log out
                        </button>
                    </form>

                </div>

            </div>

        {% else %}

            <div class="auth-links">
                <a href="{% url 'login' %}" class="site-btn btn-outline-custom auth-btn">
                    Log in
                </a>

                <a href="{% url 'register' %}" class="site-btn btn-main auth-btn">
                    Sign up
                </a>
            </div>

        {% endif %}
    </div>
</header>


