<!-- Website header -->
<header class="site-header">
    <!-- Main navigation links -->
    <nav class="main-navigation">
        <a href="{% url 'artwork-index' %}">Artworks</a>
        <a href="{% url 'artist-index' %}">Artists</a>
        <a href="{% url 'gallery-index' %}">Galleries</a>
    </nav>
    <!-- Website logo which links to homepage -->
    <a href="{% url 'home' %}" class="site-logo">ArtVault</a>
    <!-- Header actions -->
    <div class="header-actions">
        <!-- Search bar -->
        <form>
            <div class="search">
                <input class="search-input" type="search" placeholder="Search">
                <span class="search-icon material-symbols-outlined">search</span>
            </div>
        </form>
        <!-- Shows user menu if user is signed in -->
        {% if user.is_authenticated %}
            <div class="user-menu">
                <div class="nav-profile-avatar">
                    {{ user.first_name|first }}
                </div>
            </div>
        <!-- Otherwise shows sign-in button -->
        {% else %}
            <div class="auth-links">
                <button type="button" class="site-btn btn-main sign-in-btn" id="open-sign-in-modal">
                    Sign in
                </button>
            </div>
        {% endif %}
    </div>
</header>