<header class="site-header">
    <nav class="main-navigation">
        <a href="{% url 'artwork-index' %}">Artworks</a>
        <a href="#">Artists</a>
        <a href="#">Galleries</a>
    </nav>

    <a href="{% url 'home' %}" class="site-logo">ArtVault</a>

    <div class="header-actions">
        <form>
            <div class="search">
                <span class="search-icon material-symbols-outlined">search</span>
                <input class="search-input" type="search" placeholder="Search">
            </div>
        </form>
        {% if user.is_authenticated %}
            <div class="user-menu">
                <span class="user-icon" aria-hidden="true">●</span>
                <span>{{ user.first_name }}</span>
            </div>
        {% else %}
            <div class="auth-links">
                <a href="#" class="btn btn-primary">Sign in</a>
            </div>
        {% endif %}
    </div>
</header>