{% load artwork_extras %}

<section class="purchase-summary">

    <h2>Order summary</h2>

    {% with first_image=bid.artwork.images.first %}
        {% if first_image %}
            <img
                class="summary-image"
                src="{{ first_image.image_url }}"
                alt="{{ bid.artwork.title }}"
            >
        {% endif %}
    {% endwith %}

    <div class="summary-artwork-info">

        <h3>{{ bid.artwork.title }}</h3>

        <p>
            {{ bid.artwork.seller.display_name }}
            <br>
            {{ bid.artwork.medium }}<br>
            {{ bid.artwork.dimensions }}
            <br>
            {{ bid.artwork.year }}

        </p>

    </div>

    <div class="summary-divider"></div>

    <div class="summary-row">
        <span>Your bid</span>
        <span><strong>{{ bid.amount|isk }} ISK</strong></span>
    </div>

    <a
    href="{% url 'artwork-detail' bid.artwork.id %}"
    class="summary-artwork-link"
>
    View artwork
</a>

</section>