{% extends 'base.html' %}
{% load artwork_extras %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}

{% block title %}Bids | ArtVault{% endblock %}

{% block content %}

{% include 'user/_account_navigation.html' with active_page="Bids" active_tab="bids" %}

<section class="account-page">

    <!-- Bids content -->
    <section class="bids-section">

        {% include "user/_bid_filters.html" %}

        {% for bid in bids %}
            <article class="bid-card {% if bid.status == 'pending' and bid.amount < bid.artwork_annotated_highest_bid_amount %}outbid-card{% endif %}">
                {% with first_image=bid.artwork.ordered_images.0 %}
                    {% if first_image %}
                        <img
                            class="bid-artwork-image"
                            src="{{ first_image.image_url }}"
                            alt="{{ first_image.alt_text }}"
                        >
                    {% endif %}
                {% endwith %}

                <div class="bid-info">
                    <h3>{{ bid.artwork.title }}</h3>

                    <div class="bid-details">
                        <span>Seller</span>
                        <span class="bid-value">{{ bid.artwork.seller.display_name }}</span>

                        <span>Current highest bid</span>
                        <span class="bid-value">{{ bid.artwork_annotated_highest_bid_amount|isk }} ISK</span>

                        <span>Your bid</span>
                        <span class="bid-value">{{ bid.amount|isk }} ISK</span>

                        <span>Bid submitted</span>
                        <span class="bid-value">{{ bid.created_at|date:"d.m.Y" }}</span>

                        <span>Expiration</span>
                        <span class="bid-value">{{ bid.expires_at|date:"d.m.Y" }}</span>

                        <span class="bid-status">Status</span>
                        <span class="bid-status-btn {{ bid.status }}">{{ bid.status|title }}</span>

                    </div>
                    <div class="bid-actions">
                        <a href="{% url 'artwork-detail' bid.artwork.id %}">
                            View artwork
                        </a>

                        {% if bid.status == "accepted" or bid.status == "contingent" %}

                            {% if bid.is_finalized %}

                                <span class="disabled">
                                    Finalized
                                </span>

                            {% else %}

                                <a href="{% url 'finalize-contact' bid.id %}">
                                    Finalize bid
                                </a>

                            {% endif %}

                        {% endif %}
                    </div>
                </div>
            </article>
        {% empty %}
            <p class="no-bids-message">No bids found.</p>
        {% endfor %}
    </section>

</section>
{% endblock %}

