<div class="modal-backdrop">
    <section class="modal-box auth-modal">
        <button class="modal-close-btn" type="button" aria-label="Close">
            <span class="material-symbols-outlined">close</span>
        </button>

        <h1>Sign up or log in</h1>

        <form>
            <label for="email">Email:</label>
            <input id="email" name="email" type="email" placeholder="Enter your email address">

            <button class="site-btn btn-main" type="submit">
                Continue
            </button>
        </form>
    </section>
</div>